<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head th:fragment="commonhead (title,links)">
    <meta charset="UTF-8">
    <title th:replace="${title}">前台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/front.css}">
    <th:block th:replace="${links}"/>
</head>


<th:block th:fragment="script">
    <script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/fontawesome/all.min.js}"></script>
</th:block>

<div th:fragment="header">
    <div class="topbar row">
        <div class="logo">
            <p>
                <span class="name">SouthWind</span>
                <span class="description">南风博客</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-1">
            <a class="btn btn-sm btn-dark" th:href="${#request.getContextPath()} + '/index'">首页</a>
        </div>
        <div class="selectnode col-sm-6">
            <div class="nodelistdiv">
                <a class="btn btn-light" th:each="category : ${@categoryServiceImpl.getAllCategory()}"
                   th:href="${#request.getContextPath()} + '/category/' + ${category.getCategoryId()} + '/articles'"
                   th:text="${category.getCategoryName()}">
                </a>
            </div>
        </div>
        <div class="col-sm-1 text-sm-right">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#searchCollapse"
                    aria-expanded="false" aria-controls="searchCollapse"><i class="fas fa-search"></i></button>
        </div>

        <div class="col-sm-4 text-sm-right">
            <a th:if="${#request.getUserPrincipal()} == null" class="btn btn-sm btn-outline-secondary"
               th:href="${#request.getContextPath()} + '/login'">登录</a>
            <a th:if="${#request.getUserPrincipal()} != null" class="btn btn-sm btn-outline-secondary"
               th:href="${#request.getContextPath()} + '/logout'">登出</a>
            <a th:if="${#request.getUserPrincipal()} != null" class="btn btn-sm btn-secondary"
               th:href="${#request.getContextPath()} + '/overview'">个人管理</a>
            <a class="btn btn-sm btn-outline-secondary" th:href="${#request.getContextPath()} + '/register'">注册</a>
            <a th:if="${#request.getUserPrincipal()} != null" class="btn btn-sm btn-primary"
               th:href="${#request.getContextPath()} + '/article/post'">发布新文章</a>
        </div>
    </div>
    <div class="collapse" id="searchCollapse">
        <div class="card card-body">
            <form th:action="${#request.getContextPath()} + '/index'" method="get">
                <div class="form-row">
                    <div class="col-10">
                        <input type="text" class="form-control" name="search" id="search" placeholder="搜索">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>

<aside th:fragment="aside" class="col-sm-3">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">关于此站</h4>
        <p class="mb-0">本博客为<em>正规博客</em>, 吹水可以，请勿违法。</p>
    </div>

    <div class="p-4">
        <h4 class="font-italic">友情链接</h4>
        <ol class="list-unstyled">
            <li><a href="https://www.github.com" target="_blank">GitHub</a></li>
            <li><a href="https://www.csdn.net" target="_blank">CSDN</a></li>
            <li><a href="https://stackoverflow.com" target="_blank">Stack Overflow</a></li>
        </ol>
    </div>
</aside>

<footer th:fragment="footer" class="footer mt-auto py-3 blog-footer bg-light">
    <span class="text-muted">南风博客，copyright©.</span>
</footer>


<nav th:fragment="pagination (page,addition)"
     th:with="totalPages=${page.getTotalPages()},pageNumber=${page.getNumber()},pageSize=${page.getSize()},pathparam=(${#request.getContextPath()} + ${#request.getRequestURI()} + '?' + (*{#request.getQueryString()} == null ? '' : (*{#request.getQueryString().replaceAll('page=[0-9]*?&','').replaceAll('&page=[0-9]*$','').replaceAll('size=[0-9]*?&','').replaceAll('&size=[0-9]*$','') + '&'})))"
     aria-label="Page navigation">
    <!-- 处理页数小于等于7 的情况 -->
    <ul th:if="${(totalPages le 7)&&(totalPages gt 0)}"
        class="pagination justify-content-center">
        <li th:if="${pageNumber eq 0}" class="page-item disabled"><a class="page-link"
        >上一页</a></li>
        <li th:if="${pageNumber gt 0}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} - 1) + '&size=' + ${pageSize} + ${addition}">上一页</a>
        </li>

        <li th:each="index:${#numbers.sequence(0,totalPages - 1)}"
            th:classappend="${index eq pageNumber}?'active'" class="page-item">
            <a th:href="${pathparam} + 'page=' + ${index} + '&size=' + ${pageSize} + ${addition}"
               class="page-link" th:text="${index}"></a>
        </li>

        <li th:if="${pageNumber + 1 eq totalPages}"
            class="page-item disabled"><a class="page-link">下一页</a></li>
        <li th:if="${pageNumber + 1 lt totalPages}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} + 1) + '&size=' + ${pageSize} + ${addition}">下一页</a>
        </li>
    </ul>

    <!-- 处理页数大于7 的情况 -->
    <ul th:if="${totalPages gt 7}" class="pagination justify-content-center">
        <li th:if="${pageNumber eq 0}" class="page-item disabled"><a class="page-link"
        >上一页</a></li>
        <li th:if="${pageNumber gt 0}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} - 1) + '&size=' + ${pageSize} + ${addition}">上一页</a>
        </li>

        <!-- 首页 -->
        <li th:classappend="${pageNumber eq 0}?'active'" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=0' + '&size=' + ${pageSize} + ${addition}">0</a>
        </li>

        <!-- 当前页面小于等于4 -->
        <li th:if="${pageNumber le 3}" th:each="index:${#numbers.sequence(1,4)}"
            th:classappend="${index eq pageNumber}?'active'" class="page-item">
            <a th:href="${pathparam} + 'page=' + ${index} + '&size=' + ${pageSize} + ${addition}"
               class="page-link" th:text="${index}"></a>
        </li>
        <li th:if="${pageNumber le 3}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=5' + '&size=' + ${pageSize} + ${addition}">...</a>
        </li>

        <!-- 最后一页与当前页面之差小于等于3 -->
        <li th:if="${totalPages - pageNumber le 4}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${totalPages - 6}) + '&size=' + ${pageSize} + ${addition}">...</a>
        </li>
        <li th:if="${totalPages - pageNumber le 4}"
            th:each="index:${#numbers.sequence(totalPages - 5,totalPages - 2)}"
            th:classappend="${index eq pageNumber}?'active'" class="page-item">
            <a th:href="${pathparam} + 'page=' + ${index} + '&size=' + ${pageSize} + ${addition}"
               class="page-link" th:text="${index}"></a>
        </li>

        <!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
        <li th:if="${(pageNumber gt 3) && (totalPages - pageNumber gt 4)}"
            class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} - 2) + '&size=' + ${pageSize} + ${addition}">...</a>
        </li>
        <li th:if="${(pageNumber gt 3) && (totalPages - pageNumber gt 4)}"
            th:each="index:${#numbers.sequence(pageNumber - 1,pageNumber + 1)}"
            th:classappend="${index eq pageNumber}?'active'" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + ${index} + '&size=' + ${pageSize} + ${addition}"
               th:text="${index}"></a>
        </li>
        <li th:if="${(pageNumber gt 3) && (totalPages - pageNumber gt 4)}"
            class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} + 2) + '&size=' + ${addition}">...</a>
        </li>

        <!-- 尾页 -->
        <li th:classappend="${pageNumber eq totalPages - 1}?'active'"
            class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${totalPages - 1}) + '&size=' + ${pageSize} + ${addition}"
               th:text="${totalPages - 1}">尾页</a>
        </li>

        <li th:if="${pageNumber eq totalPages - 1}"
            class="page-item disabled"><a class="page-link">下一页</a></li>
        <li th:if="${pageNumber lt totalPages - 1}" class="page-item">
            <a class="page-link"
               th:href="${pathparam} + 'page=' + (${pageNumber} + 1) + '&size=' + ${addition}">下一页</a>
        </li>
    </ul>
</nav>

</body>
</html>