<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<head th:fragment="managementhead (title,links)">
    <meta charset="UTF-8">
    <title th:replace="${title}">管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/management.css}">
    <th:block th:replace="${links}"/>
</head>

<th:block th:fragment="script">
    <script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/fontawesome/all.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</th:block>

<header th:fragment="headerbar"
        th:with="account=${@accountServiceImpl.getAccountByUsername(#request.getUserPrincipal().getName())}"
        class="main-navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top theme-color">
        <div class="menu-toggle-button">
            <a class="nav-link wave-effect" id="sidebarCollapse">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <a class="navbar-brand">博客管理</a>

        <ul class="navbar-nav ml-auto navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" aria-expanded="false"> <img
                        th:src="${#request.getContextPath()} + '/data/account/avatar/' + ${account.getAvatar()}"
                        alt="user-img" width="36" class="img-circle">
                    <b th:text="${account.getUsername()}" class="d-none d-sm-inline-block"></b>
                </a>
                <ul class="dropdown-menu dropdown-user text-center">
                    <li>
                        <div class="dw-usefr-box">
                            <div class="u-text">
                                <h4 th:text="${account.getUsername()}"></h4>
                                <p class="text-muted" th:text="${account.getEmail()}"></p>
                            </div>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li><a th:href="${#request.getContextPath()} + '/index'">
                        <i class="fas fa-home"></i> 首页</a>
                    </li>
                    <li><a th:href="${#request.getContextPath()} + '/account/homepage/' + ${account.getAccountId()}">
                        <i class="fas fa-home"></i> 我的主页</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a th:href="${#request.getContextPath()} + '/logout'">
                            <i class="fas fa-sign-out-alt"></i> 登出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<nav th:fragment="sidebar" id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled components" id="accordion">
        <li>
            <a th:href="${#request.getContextPath()} + '/overview'">
                <i class="fas fa-globe"></i> 总览
            </a>
        </li>
        <li>
            <a th:href="${#request.getContextPath()} + '/article/mymanagement'">
                <i class="fas fa-file-alt"></i> 个人文章管理
            </a>
        </li>
        <li>
            <a th:href="${#request.getContextPath()} + '/comment/mymanagement'">
                <i class="fas fa-comment"></i> 个人评论管理
            </a>
        </li>
        <li>
            <a th:href="${#request.getContextPath()} + '/comment/receivemanagement'">
                <i class="fas fa-comments"></i> 收到的评论管理
            </a>
        </li>
        <li>
            <a th:href="${#request.getContextPath()} + '/account/mymanagement'">
                <i class="fas fa-user-cog"></i> 个人账号设置
            </a>
        </li>


        <li sec:authorize="hasAnyRole('ROOT')">
            <a th:href="${#request.getContextPath()} + '/account/management'">
                <i class="fas fa-users"></i> 账号管理
            </a>
        </li>
        <li sec:authorize="hasAnyRole('ROOT','ADMIN')">
            <a th:href="${#request.getContextPath()} + '/article/management'">
                <i class="fas fa-file-alt"></i> 文章管理
            </a>
        </li>
        <li sec:authorize="hasAnyRole('ROOT','ADMIN')">
            <a th:href="${#request.getContextPath()} + '/comment/management'">
                <i class="fas fa-comments"></i> 评论管理
            </a>
        </li>
        <li sec:authorize="hasAnyRole('ROOT','ADMIN')">
            <a th:href="${#request.getContextPath()} + '/category/management'">
                <i class="fas fa-server"></i> 分类管理
            </a>
        </li>
    </ul>
</nav>


<div class="container-fluid content-area" th:fragment="articleTable (articleList,articlePage)">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header m-b-15">
                    <h4 th:if="${#request.getRequestURI().contains('/mymanagement')}">个人文章管理</h4>
                    <h4 th:if="${#request.getRequestURI().contains('/management')}">文章管理</h4>
                </div>
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-2">
                            <select class="form-control" id="articleStatusSelector"
                                    onchange="window.location.href=this.options[selectedIndex].value">
                                <option th:value="${#request.getRequestURI()}"
                                        th:selected="${#request.getParameter('publish') == null}">全部文章
                                </option>
                                <option th:value="${#request.getRequestURI()} + '?publish=true'"
                                        th:selected="${#request.getParameter('publish') == 'true'}">公开文章
                                </option>
                                <option th:value="${#request.getRequestURI()} + '/?publish=false'"
                                        th:selected="${#request.getParameter('publish') == 'false'}">不公开文章
                                </option>
                                <option sec:authorize="hasAnyRole('ROOT','ADMIN')"
                                        th:value="${#request.getRequestURI()} + '?stick=true'"
                                        th:selected="${#request.getParameter('stick') == 'true'}">置顶文章
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-10" sec:authorize="hasAnyRole('ROOT','ADMIN')"
                             th:if="${#request.getRequestURI().contains('/management')}">
                            <form th:action="${#request.getRequestURI()}" method="get">
                                <div class="form-row">
                                    <select class="form-control col" id="searchTypeSelector" name="searchtype">
                                        <option th:value="title">搜索标题</option>
                                        <option th:value="username">搜索作者</option>
                                    </select>
                                    <input type="text" class="form-control col" id="search" placeholder="关键字"
                                           name="keyword">
                                    <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>文章id</th>
                            <th>所属分类</th>
                            <th>标题</th>
                            <th th:if="${#request.getRequestURI().contains('/management')}">作者</th>
                            <th>发布时间</th>
                            <th>最近修改时间</th>
                            <th>状态</th>
                            <th>状态修改</th>
                            <th>操作</th>
                        </tr>
                        <tr th:each="article : ${articleList}">
                            <td th:text="${article.getArticleId()}"></td>
                            <td th:text="${article.getCategory().getCategoryName()}"></td>
                            <td th:text="${#strings.abbreviate(article.getTitle(),35)}"></td>
                            <td th:if="${#request.getRequestURI().contains('/management')}"
                                th:text="${article.getAccount().getUsername()}"></td>
                            <td th:text="${article.getCreateDate().toString().replace('T',' ')}"></td>
                            <td th:text="${article.getLastModifiedDate().toString().replace('T',' ')}"></td>
                            <td th:text="(${article.isPublish()} ? '公开' : '不公开') + (${article.isStick()} ? '-置顶' : '')"></td>
                            <td>
                                <a th:if="${article.isPublish()} == false"
                                   th:onclick="setPublish(true,[[${article.getArticleId()}]]);"
                                   class="btn btn-sm btn-outline-secondary"><i class="fas fa-lock-open"></i> 公开</a>
                                <a th:if="${article.isPublish()} == true"
                                   th:onclick="setPublish(false,[[${article.getArticleId()}]]);"
                                   class="btn btn-sm btn-outline-secondary"><i class="fas fa-lock"></i> 不公开</a>
                                <a sec:authorize="hasAnyRole('ROOT','ADMIN')"
                                   th:if="${(article.isStick() == false) && (#request.getRequestURI().contains('/management'))}"
                                   class="btn btn-sm btn-outline-secondary"
                                   th:onclick="setStick(true,[[${article.getArticleId()}]]);">
                                    <i class="fas fa-arrow-alt-circle-up"></i> 置顶</a>
                                <a sec:authorize="hasAnyRole('ROOT','ADMIN')"
                                   th:if="${(article.isStick() == true) && (#request.getRequestURI().contains('/management'))}"
                                   class="btn btn-sm btn-outline-secondary"
                                   th:onclick="setStick(false,[[${article.getArticleId()}]]);">
                                    <i class="fas fa-arrow-alt-circle-down"></i> 取消置顶</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                   data-target="#deleteArticleModal"
                                   th:onclick="setArticleId([[${article.getArticleId()}]]);">
                                    <i class="fas fa-trash-alt"></i> 删除</a>
                                <a th:href="${#request.getContextPath()} + '/article/update/' + ${article.getArticleId()}"
                                   class="btn btn-sm btn-outline-secondary" target="_Blank"><i class="fas fa-edit"></i>
                                    修改</a>
                                <a th:href="${#request.getContextPath()} + '/article/details/' + ${article.getArticleId()}"
                                   class="btn btn-sm btn-outline-secondary" target="_Blank">
                                    <i class="fas fa-external-link-square-alt"></i> 查看</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <nav th:replace="common/common :: pagination (page=${articlePage},addition='')"></nav>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteArticleModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteArticleModalTitle">警告！</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否确认删除文章？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="deleteArticle();">删除</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:fragment="commentTable (commentList,commentPage)" class="container-fluid content-area">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header m-b-15">
                    <h4 th:if="${#request.getRequestURI().contains('/mymanagement')}">个人评论管理</h4>
                    <h4 th:if="${#request.getRequestURI().contains('/management')}">评论管理</h4>
                    <h4 th:if="${#request.getRequestURI().contains('/receivemanagement')}">收到的评论管理</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>评论id</th>
                            <th>所属文章</th>
                            <th>内容</th>
                            <th th:if="${#request.getRequestURI().contains('/management') || #request.getRequestURI().contains('/receivemanagement')}">作者</th>
                            <th>发布时间</th>
                            <th>最近修改时间</th>
                            <th>操作</th>
                        </tr>
                        <tr th:each="comment : ${commentList}">
                            <td th:text="${comment.getCommentId()}"></td>
                            <td th:text="${comment.getArticle().getTitle()}"></td>
                            <td th:text="${#strings.abbreviate(comment.getContent(),35)}"></td>
                            <td th:if="${#request.getRequestURI().contains('/management') || #request.getRequestURI().contains('/receivemanagement')}"
                                th:text="${comment.getAccount().getUsername()}"></td>
                            <td th:text="${comment.getCreateDate().toString().replace('T',' ')}"></td>
                            <td th:text="${comment.getLastModifiedDate().toString().replace('T',' ')}"></td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                   data-target="#deleteCommentModal"
                                   th:onclick="setComment([[${comment.getCommentId()}]],'');">
                                    <i class="fas fa-trash-alt"></i> 删除</a>
                                <a th:if="${#request.getRequestURI().contains('/management') || #request.getRequestURI().contains('/mymanagement')}"
                                   class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                   data-target="#updateCommentModal"
                                   th:onclick="setComment([[${comment.getCommentId()}]],[[${comment.getContent()}]]);">
                                    <i class="fas fa-edit"></i> 修改</a>
                                <a th:href="${#request.getContextPath()} + '/article/details/' + ${comment.getArticle().getArticleId()} + '#comments'"
                                   class="btn btn-sm btn-outline-secondary" target="_Blank">
                                    <i class="fas fa-external-link-square-alt"></i> 查看</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div th:replace="common/common :: pagination (page=${commentPage},addition='')"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteCommentModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCommentModalTitle">警告！</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否确认删除评论？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="deleteComment();">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="updateCommentModal" tabindex="-1" role="dialog"
             aria-labelledby="updateCommentModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCommentModalTitle">修改评论</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="comment-content" class="col-form-label">评论内容:</label>
                                <textarea class="form-control" id="comment-content" maxlength="200"
                                          minlength="10"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="updateComment();">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>