<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/management :: managementhead (~{::title},~{})">
    <title>总览</title>
</head>
<body>
<div th:replace="common/management :: headerbar"></div>
<div class="wrapper"
     th:with="account=${@accountServiceImpl.getAccountByUsername(#request.getUserPrincipal().getName())}">
    <div th:replace="common/management :: sidebar"></div>
    <div class="container-fluid content-area">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>
<div th:replace="common/management :: script"></div>
<script th:inline="javascript">
</script>
</body>
</html>