<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/management :: managementhead (~{::title})">
    <title>个人账号设置</title>
</head>
<body>
<form th:action="${#request.getContextPath()} + '/account/update/info/' + ${account.getAccountId()}" method="post">
    密码<input th:text="${account.getPassword()}" type="password" name="password">
    邮箱<input th:text="${account.getEmail()}" type="text" name="email">
    <p><input type="submit" value="提交"/></p>
</form>

<form th:action="${#request.getContextPath()} + '/account/update/' + ${account.getAccountId()} + '/avatar/'"
      method="post" enctype="multipart/form-data">
    头像<p>选择文件: <input type="file" name="avatar"/></p>
    <p><input type="submit" value="提交"/></p>
</form>
<div th:replace="common/management :: script"></div>
<script th:inline="javascript">
</script>
</body>
</html>