<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>个人评论管理</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/ManagementPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/css/waves/waves.min.css}">
</head>
<body>

</body>
</html>