<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户文章</title>
</head>
<body>

<tr th:each="article:${articleList}">
    <td th:text="${article.getArticleId()}"></td>
    <td th:text="${#strings.abbreviate(article.getTitle(),30)}"></td>
    <td th:text="${#strings.abbreviate(article.getSummary(),100)}"></td>
    <!--<td th:text="${article.getSummary()}"></td>-->
    <!--<td th:text="${article.getRawContent().substring(0,50)}"></td>-->
    <br>
</tr>

</body>
</html>