<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/common :: commonhead (~{::title},~{})">
    <title th:text="${account.getUsername()} + '的主页'"></title>
</head>
<body>
<div class="container">
    <div th:replace="common/common :: header"></div>
    <table class="threadtitle">
        <tr>
            <td style="width: 90px;" class="writeimg">
                <img th:src="${#request.getContextPath()} + '/data/account/avatar/' + ${account.getAvatar()}"
                     class="hdimg">
            </td>
            <td>
                <h3 itemprop="name" th:text="${account.getUsername()}"></h3>
                <p>
                    <span th:text="' 注册于：' + ${account.getCreateDate().toString().replace('T','  ')} + ' 发布文章数量：' + ${@articleServiceImpl.getArticleQuantityByPublishTrueAndAccount(account)} + ' 回复量：' + ${@commentServiceImpl.getMyCommentQuantityMonthlyByAccount(account).size()}"></span>
                </p>
            </td>
        </tr>
    </table>
    <hr>
    <div class="row" id="articles">
        <div class="col-sm-9 postlist">
            <a th:each="article : ${articleList}" th:href="${#request.getContextPath()} + '/article/details/' + ${article.getArticleId()}" class='post-a'>
                <div class='post-box'>
                    <table>
                        <tr>
                            <td>
                                <h4 th:text="${article.getTitle()}"></h4>
                                <p th:text="${#strings.abbreviate(article.getRawContent(),100)}"></p>
                            </td>
                            <td class='writer'>
                                <p><a th:href="${#request.getContextPath()} + '/account/homepage/' + ${article.getAccount().getAccountId()}" target='_blank' th:text="${article.getAccount().getUsername()}"></a></p>
                                <i class="fas fa-clock"></i><span th:text="${article.getCreateDate().toString().replace('T','  ')}"></span>
                                <br>
                                <i class="fas fa-eye"></i><span th:text="${article.getPageView()}"></span>&nbsp;&nbsp;<i class="fas fa-comments"></i><span th:text="${@commentServiceImpl.getCommentQuantityByArticle(article)}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <div th:replace="common/common :: pagination (page=${articlePage},addition='#articles')"></div>
        </div>
        <div th:replace="common/common :: aside"></div>
    </div>
    <footer th:replace="common/common :: footer"></footer>
</div>
<div th:replace="common/common :: script"></div>
</body>
</html>