<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <title th:text="${article.getTitle()} + ' -- 大型多人在线吹水博客'"></title>
</head>
<body>
<div th:replace="common/header :: header"></div>

<div class="container">


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="${#request.getContextPath()} + '/'">Home</a></li>
        <li class="breadcrumb-item" th:if="${breadcrumbCategoryList.size()} != 0" th:each="category : ${breadcrumbCategoryList}"><a th:href="${#request.getContextPath()} + '/category/' + ${category.getCategoryId()} + '/articles'" th:text="${category.getCategoryName()}"></a></li>
        <li class="breadcrumb-item active" aria-current="page" ><a th:href="${#request.getContextPath()} + '/category/' + ${article.getCategory().getCategoryId()} + '/articles'" th:text="${article.getCategory().getCategoryName()}"></a></li>
    </ol>
</nav>

    <div class="media">
        <div class="media-body">
            <a th:href="${#request.getContextPath()} + '/account/' + ${article.getAccount().getAccountId()}"><h5 class="mt-0 mb-1 float-right" th:text="${article.getAccount().getUsername()}"></h5></a>
            <p th:text="'创建时间：' + ${article.getCreateDate()} + '  上次修改时间：' + ${article.getLastModifiedDate()}"></p>
        </div>
        <img th:src="${#request.getContextPath()} + '/data/account/avatar/' + ${article.getAccount().getAccountId()} + '.png'" class="ml-3" alt="头像">
    </div>

    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <h2 class="display-4" th:text="${article.getTitle()}"></h2>
            <article class="lead" th:utext="${article.getContent()}"></article>
        </div>
    </div>

</div>
<div class="container" id="comments">
    <form th:action="${#request.getContextPath()} + '/comment/' + ${article.getArticleId()}" method="post">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" id="content" maxlength="200" minlength="10"></textarea>
        <button type="submit" class="btn btn-primary mb-2">发布</button>
    </form>
<ul class="list-unstyled">
    <li class="media" th:each="comment : ${commentList}">
        <img th:src="${#request.getContextPath()} + '/data/account/avatar/' + ${comment.getAccount().getAccountId()} + '.png'" class="mr-3" alt="头像">
        <div class="media-body">
            <a th:href="${#request.getContextPath()} + '/account/' + ${comment.getAccount().getAccountId()}"><h5 class="mt-0 mb-1" th:text="${comment.getAccount().getUsername()}"></h5></a>
            <p th:text="${comment.getContent()}"></p>
        </div>
    </li>
</ul>
    <nav aria-label="Page navigation">
        <!-- 处理页数小于等于7 的情况 -->
        <ul th:if="${(commentPage.getTotalPages() le 7)&&(commentPage.getTotalPages() gt 0)}" class="pagination justify-content-center">
            <li th:if="${commentPage.getNumber() eq 0}" class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
            <li th:if="${commentPage.getNumber() gt 0}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber()} - 1,size=${commentPage.getSize()})}  + '#comments'">上一页</a>
            </li>

            <li th:each="index:${#numbers.sequence(0,commentPage.getTotalPages() - 1)}" th:classappend="${index eq commentPage.getNumber()}?'active'" class="page-item">
                <a th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${index},size=${commentPage.getSize()})} + '#comments'" class="page-link"  th:text="${index}"></a>
            </li>

            <li th:if="${commentPage.getNumber() + 1 eq commentPage.getTotalPages()}" class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
            <li th:if="${commentPage.getNumber() + 1 lt commentPage.getTotalPages()}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber()} + 1,size=${commentPage.getSize()})} + '#comments'">下一页</a>
            </li>
        </ul>

        <!-- 处理页数大于7 的情况 -->
        <ul th:if="${commentPage.getTotalPages() gt 7}" class="pagination justify-content-center">
            <li th:if="${commentPage.getNumber() eq 0}" class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
            <li th:if="${commentPage.getNumber() gt 0}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber()} - 1,size=${commentPage.getSize()})} + '#comments'">上一页</a>
            </li>

            <!-- 首页 -->
            <li th:classappend="${commentPage.getNumber() eq 0}?'active'" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=0,size=${commentPage.getSize()})} + '#comments'">0</a>
            </li>

            <!-- 当前页面小于等于4 -->
            <li th:if="${commentPage.getNumber() le 3}" th:each="index:${#numbers.sequence(1,4)}" th:classappend="${index eq commentPage.getNumber()}?'active'" class="page-item">
                <a th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${index},size=${commentPage.getSize()})} + '#comments'" class="page-link"  th:text="${index}"></a>
            </li>
            <li th:if="${commentPage.getNumber() le 3}" class="page-item">
                <a  class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=5,size=${commentPage.getSize()})} + '#comments'">...</a>
            </li>

            <!-- 最后一页与当前页面之差小于等于3 -->
            <li th:if="${commentPage.getTotalPages() - commentPage.getNumber() le 4}" class="page-item">
                <a  class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getTotalPages() - 6},size=${commentPage.getSize()})} + '#comments'">...</a>
            </li>
            <li th:if="${commentPage.getTotalPages() - commentPage.getNumber() le 4}" th:each="index:${#numbers.sequence(commentPage.getTotalPages() - 5,commentPage.getTotalPages() - 2)}" th:classappend="${index eq commentPage.getNumber()}?'active'" class="page-item">
                <a th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${index},size=${commentPage.getSize()})} + '#comments'" class="page-link"  th:text="${index}"></a>
            </li>

            <!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
            <li th:if="${(commentPage.getNumber() gt 3) && (commentPage.getTotalPages() - commentPage.getNumber() gt 4)}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber() - 2},size=${commentPage.getSize()})} + '#comments'">...</a>
            </li>
            <li th:if="${(commentPage.getNumber() gt 3) && (commentPage.getTotalPages() - commentPage.getNumber() gt 4)}" th:each="index:${#numbers.sequence(commentPage.getNumber() - 1,commentPage.getNumber() + 1)}" th:classappend="${index eq commentPage.getNumber()}?'active'" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${index},size=${commentPage.getSize()})} + '#comments'" th:text="${index}"></a>
            </li>
            <li th:if="${(commentPage.getNumber() gt 3) && (commentPage.getTotalPages() - commentPage.getNumber() gt 4)}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber() + 2},size=${commentPage.getSize()})} + '#comments'">...</a>
            </li>

            <!-- 尾页 -->
            <li th:classappend="${commentPage.getNumber() eq commentPage.getTotalPages() - 1}?'active'" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getTotalPages() - 1},size=${commentPage.getSize()})} + '#comments'" th:text="${commentPage.getTotalPages() - 1}">尾页</a>
            </li>

            <li th:if="${commentPage.getNumber() eq commentPage.getTotalPages() - 1}" class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
            <li th:if="${commentPage.getNumber() lt commentPage.getTotalPages() - 1}" class="page-item">
                <a class="page-link" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()} + @{(page=${commentPage.getNumber()} + 1,size=${commentPage.getSize()})} + '#comments'">下一页</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container bg-light" th:insert="common/footer :: footer"></div>


<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>