<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${article.getTitle()}"></h1>
<h2 th:text="${article.getSummary()}"></h2>
<div th:utext="${article.getContent()}"></div>
<form th：action="/comment/post" method="post">
    <input type="hidden" id="articleId" th:value="${article.getArticleId()}">
    <div id="editor">
        <p>请在此处编写评论内容</p>
    </div>
    <input type="hidden" name="content" id="content">
    <button type="submit" id="submit">发布</button>
</form>

<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.menus = [
    ]
    editor.create()
    document.getElementById('submit').addEventListener('click', function () {
        var content=editor.txt.html();
        document.getElementById('content').value=content;
    }, false)
</script>


</body>
</html>