<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <title th:text="${article.getTitle()} + ' -- 大型多人在线吹水博客'"></title>
</head>
<body>
<div th:replace="common/header :: header"></div>

<div class="container">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="${#request.getContextPath()} + '/'">Home</a></li>
        <li class="breadcrumb-item" th:if="${breadcrumbCategoryList.size()} != 0" th:each="category : ${breadcrumbCategoryList}"><a th:href="${#request.getContextPath()} + '/category/' + ${category.getCategoryId()} + '/articles'" th:text="${category.getCategoryName()}"></a></li>
        <li class="breadcrumb-item active" aria-current="page" ><a th:href="${#request.getContextPath()} + '/category/' + ${article.getCategory().getCategoryId()} + '/articles'" th:text="${article.getCategory().getCategoryName()}"></a></li>
    </ol>
</nav>

<h1 th:text="${article.getTitle()}"></h1>
<div th:utext="${article.getContent()}"></div>
</div>
<div class="container">
<ul class="list-unstyled">
    <li class="media" th:each="comment : ${commentList}">
        <img th:src="${#request.getContextPath()} + '/data/account/avatar/' + ${comment.getAccount().getAccountId()} + '.png' " class="mr-3" alt="头像">
        <div class="media-body">
            <a th:href="${#request.getContextPath()} + '/account/' + ${comment.getAccount().getAccountId()}"><h5 class="mt-0 mb-1" th:text="${comment.getAccount().getUsername()}"></h5></a>
            <p th:text="${comment.getContent()}"></p>
        </div>
    </li>

</ul>
</div>
<div class="container">
<!--<form th:action="${#request.getContextPath()} + '/comment/' + ${article.getArticleId()}" method="post">-->
    <!--<input maxlength="200" type="text" name="content" id="content">-->
    <!--<button type="submit" id="submit">发布</button>-->
<!--</form>-->
</div>

<div class="container bg-light" th:insert="common/footer :: footer"></div>


<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>