<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/front.css}">
    <title>南风博客</title>
</head>
<body>
<div class="container">
    <div th:replace="common/common :: header"></div>
    <div id="stickArticleCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li th:each="article : ${stickArticleList}" data-target="#stickArticleCarousel"
                th:attr="data-slide-to=${stickArticleList.indexOf(article)}"
                th:class="${articleList.indexOf(article)} == 0  ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
            <div th:each="article : ${stickArticleList}"
                 th:class="${stickArticleList.indexOf(article)} == 0  ? 'carousel-item active':'carousel-item'"
                 data-interval="5000" th:href="${#request.getContextPath()} + '/article/' + ${article.getArticleId()}">
                <img width="800" height="400" th:src="'/static/img/carousel/' + (${stickArticleList.indexOf(article)} + 1) + '.png'"
                     class="d-block w-100" alt="carousel">
                <div class="carousel-caption">
                    <h5 th:text="${#strings.abbreviate(article.getTitle(),20)}"></h5>
                    <p th:text="${#strings.abbreviate(article.getRawContent(),80)}"></p>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#stickArticleCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#stickArticleCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row" id="articles">
        <div class="col-sm-9 postlist">
            <a th:each="article : ${articleList}" th:href="${#request.getContextPath()} + '/article/details/' + ${article.getArticleId()}" class='post-a'>
                <div class='post-box'>
                    <table>
                        <tr>
                            <td>
                                <h4 th:text="${article.getTitle()}"></h4>
                                <p th:text="${#strings.abbreviate(article.getRawContent(),100)}"></p>
                            </td>
                            <td class='writer'>
                                <p><a th:href="${#request.getContextPath()} + '/account/homepage/' + ${article.getAccount().getAccountId()}" target='_blank' th:text="${article.getAccount().getUsername()}"></a></p>
                                <i class="fas fa-clock"></i><span th:text="${article.getCreateDate().toString().replace('T','  ')}"></span>
                                <br>
                                <i class="fas fa-eye"></i><span th:text="${article.getPageView()}"></span> &nbsp;<i class="fas fa-comments"></i><span th:text="${@commentServiceImpl.getCommentQuantityByArticle(article)}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <div th:replace="common/common :: pagination (page=${articlePage},addition='#articles')"></div>
        </div>
        <div th:replace="common/common :: aside"></div>
    </div>
    <footer th:replace="common/common :: footer"></footer>
</div>
<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/fontawesome/all.min.js}"></script>
</body>
</html>


