<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
</head>
<body>
<form action="/article/post" method="post">
    <input type="text" name="title" placeholder="标题">
    <input type="text" name="summary" placeholder="摘要">
    <div id="editor">
        <p>请在此处编写文章</p>
    </div>
    <input type="hidden" name="content" id="content">
    <button type="submit" id="submit">发布</button>
</form>
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.uploadImgServer = '/uploadimage'
    editor.customConfig.uploadFileName = 'imageFile'
    editor.customConfig.debug=true;
    editor.create()
    document.getElementById('submit').addEventListener('click', function () {
        var content=editor.txt.html();
        document.getElementById('content').value=content;
    }, false)
</script>
</body>
</html>
