<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布文章</title>
    <!--<script type="text/javascript" th:src="@{/static/js/wangEditor.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/ckeditor/translations/zh-cn.js}"></script>
</head>
<body>
<form th:action="${#request.getContextPath()} + '/article/post'" method="post">
    <input type="text" name="title" placeholder="标题">
    <input type="text" name="summary" placeholder="摘要">
    <textarea name="content" id="editor">
        &lt;p&gt;请在此编写文章。&lt;/p&gt;
    </textarea>
    <button type="submit" id="submit">发布</button>
</form>

<script type="text/javascript">
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            language: 'zh-cn'
        } )
        .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
</script>

<!--<script type="text/javascript">-->
    <!--var E = window.wangEditor-->
    <!--var editor = new E('#editor')-->
    <!--editor.customConfig.uploadImgServer = "${#request.getContextPath()} + '/article/upload'" //TODO-->
    <!--editor.customConfig.uploadFileName = 'imageFile'-->
    <!--editor.customConfig.debug=true;-->
    <!--editor.create()-->
    <!--document.getElementById('submit').addEventListener('click', function () {-->
        <!--var content=editor.txt.html();-->
        <!--document.getElementById('content').value=content;-->
    <!--}, false)-->
<!--</script>-->
</body>
</html>
