
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>result</title>
        <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>    </head>
    <body>

    <!--<tr th:each="p: ${result}">-->
        <!--<td th:text="${p.getArticleId()}"></td>-->
        <!--<td th:text="${p.name}"></td>-->
        <!--<td th:text="${p.price}"></td>-->
    </tr>

    <form action="/upload" method="post" enctype="multipart/form-data">
        密码<input type="password" name="password">
        邮箱<input type="text" name="email">
        头像<p>选择文件: <input type="file" name="avatarFile"/></p>
        <p><input type="submit" value="提交"/></p>
    </form>

    <textarea name="content" id="editor">
        &lt;p&gt;This is some sample content.&lt;/p&gt;
    </textarea>

    <script type="text/javascript">
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
    </script>


    </body>
    </html>