<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <title>修改文章</title>
</head>
<body>
<input type="text" id="title" th:value="${article.getTitle()}">
<textarea id="editor">
    </textarea>
<input id="publish" type="checkbox" checked="checked">公开
<button type="submit" id="submit" onclick="submit()">保存</button>

<script th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ckeditor/translations/zh-cn.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript">
    var content = [[${article.getContent()}]];
    var articleId = [[${article.getArticleId()}]];
    var contextPath = [[${#request.getContextPath()}]];
    var editorData;
    var myEditor;
    var publish = false;
    var title;
    ClassicEditor
        .create(document.querySelector('#editor'), {
            language: 'zh-cn',
            ckfinder: {
                uploadUrl: contextPath + '/article/' + articleId + '/upload'
            },
        })
        .then(editor => {
            console.log(editor);
            editor.setData(content);
            myEditor = editor;
        })
        .catch(error => {
            console.error(error);
        });

    function submit() {
        title = document.getElementById('title').value;
        if ($("#publish").is(":checked")) {
            publish = true;
        }
        editorData = myEditor.getData();
        var articleData = {
            title: title,
            content: editorData,
            publish: publish
        }
        $.ajax({
            type: "PUT",
            url: contextPath + '/article/' + articleId,
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(articleData)
        })
    }


</script>
</body>
</html>