<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/front.css}">
    <title>修改文章</title>
</head>
<body>
<div class="container">
    <div th:replace="common/common :: header"></div>
    <div>
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" class="form-control" id="title" th:value="${article.getTitle()}">
        </div>
        <div class="form-group">
            <label for="categorySelector">分类</label>
            <select class="form-control" id="categorySelector">
                <option th:each="category : ${@categoryServiceImpl.getAllCategory()}" th:value="${category.getCategoryId()}" th:text="${category.getCategoryName()}">1</option>
            </select>
        </div>
        <div class="form-group">
            <label for="publishSelector">状态</label>
            <select class="form-control" id="publishSelector">
                <option value="true">公开</option>
                <option value="false">不公开</option>
            </select>
        </div>
        <textarea id="editor">
    </textarea>
        <button class="btn-primary" type="submit" id="submit" onclick="submit()">保存</button>
    </div>
</div>


<script th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{/static/js/ckeditor/translations/zh-cn.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/fontawesome/all.min.js}"></script>
<script th:inline="javascript">
    var content = [[${article.getContent()}]];
    var articleId = [[${article.getArticleId()}]];
    var contextPath = [[${#request.getContextPath()}]];
    var editorData;
    var myEditor;
    var publish = false;
    var title;
    ClassicEditor
        .create(document.querySelector('#editor'), {
            language: 'zh-cn',
            ckfinder: {
                uploadUrl: contextPath + '/article/' + articleId + '/upload'
            },
        })
        .then(editor => {
            console.log(editor);
            editor.setData(content);
            myEditor = editor;
        })
        .catch(error => {
            console.error(error);
        });

    function submit() {
        title = document.getElementById('title').value;
        // if ($("#publish").is(":checked")) {
        //     publish = true;
        // }
        var publishValue = $('#publishSelector option:selected').val();
        if (publishValue == "true"){
            publish = true;
        }
        if (publishValue == "false"){
            publish = false;
        }
        var categoryValue = $('#categorySelector option:selected').val();
        var categoryText = $('#categorySelector').find('option:selected').text();
        var categoryData = {
            categoryId: categoryValue,
            categoryName: categoryText,
        }
        editorData = myEditor.getData();
        var articleData = {
            title: title,
            content: editorData,
            publish: publish,
            category: categoryData
        }
        $.ajax({
            type: "PUT",
            url: contextPath + '/article/' + articleId,
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(articleData),
            success: function (data) {
                window.location.href = contextPath + '/article/details/' + articleId;
            },
            error: function (data) {
                window.location.href = contextPath + '/article/details/' + articleId;
            }
        })
    }
</script>
</body>
</html>