<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改文章</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/ckeditor/translations/zh-cn.js}"></script>
</head>
<body>

<form th:action="${#request.getContextPath()} + '/article/update/' + ${article.getArticleId()}" method="post">
    <input type="text" name="title" th:value="${article.getTitle()}">
    <textarea name="content" id="editor">
    </textarea>
    <button type="submit" id="submit">发布</button>
</form>
<textarea style="display:none" id="content" th:text="${article.getContent()}"></textarea>
<script type="text/javascript">
    var content = document.getElementById('content').value;
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            language: 'zh-cn'
        } )
        .then( editor => {
        console.log( editor );
    editor.setData(content);
    } )
    .catch( error => {
        console.error( error );
    } );
</script>
</body>
</html>