<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>账号管理</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/ManagementPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/themify-icons/themify-icons.css}">
</head>
<body>

<form th:action="${#request.getContextPath()} + '/account/update/info/' + ${account.getAccountId()}" method="post">
    密码<input th:text="${account.getPassword()}" type="password" name="password">
    邮箱<input th:text="${account.getEmail()}" type="text" name="email">
    <p><input type="submit" value="提交"/></p>
</form>

<form th:action="${#request.getContextPath()} + '/account/update/' + ${account.getAccountId()} + '/avatar/'" method="post" enctype="multipart/form-data">
    头像<p>选择文件: <input type="file" name="avatar"/></p>
    <p><input type="submit" value="提交"/></p>
</form>






</body>
</html>