<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/management :: managementhead (~{::title},~{})">
    <title>文章管理</title>
</head>
<body>

<div th:replace="common/management :: headerbar"></div>
<div class="wrapper">
    <div th:replace="common/management :: sidebar"></div>
    <div th:replace="common/management :: articleTable (articleList=${articleList},articlePage=${articlePage})"></div>

</div>
<div th:replace="common/management :: script"></div>
<script th:inline="javascript">
    var articleId;

    function setArticleId(id) {
        articleId = id;
    }

    var contextPath = [[${#request.getContextPath()}]];
    function deleteArticle() {
        $.ajax({
            type: "DELETE",
            url: contextPath + '/article/' + articleId,
            success: function (data) {
                window.location.reload();
            }
        })
    }

    function setPublish(publish, articleId) {
        var accountData = {
            publish: publish
        }
        $.ajax({
            type: "PUT",
            url: contextPath + '/account/' + articleId + '/publish',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(accountData),
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                window.location.reload();
            }
        })
    }

    function setStick(stick, articleId) {
        var accountData = {
            stick: stick
        }
        $.ajax({
            type: "PUT",
            url: contextPath + '/article/' + articleId + '/stick',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(accountData),
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                window.location.reload();
            }
        })
    }
</script>
</body>
</html>